---
import Layout from '@/layouts/DefaultLayout.astro';
import { Image } from 'astro:assets';
import logo from '@/images/plop.png';

import { ButtonComponent } from '@/components/ui/ButtonComponent';
import ArchiveItem from '@/components/ArchiveItem.astro';
---

<Layout title='Archive'>
	<main>
		<div class='title'>
			<h1>Welcome To Archive</h1>
			<p class='text-foreground/70'>A collection of random content</p>
		</div>
		<div class='recent flex flex-col gap-y-4 w-1/3'>
			<div class='arhive-item-ctn'>
				<ArchiveItem title='' />
				<ArchiveItem />
			</div>
		</div>
	</main>
</Layout>

<style lang='scss'></style>
