---
import Layout from '@/layouts/DefaultLayout.astro';
import { ButtonComponent } from '@/components/ui/ButtonComponent';

import { Image } from 'astro:assets';

import line from '@/images/line.svg?raw';
import jsIcon from '@/images/icons/js.svg?raw';
import SkillCard from '@/components/SkillCard.astro';

function getYear(dateString: string) {
	let today = new Date();
	let birthDate = new Date(dateString);
	let age = today.getFullYear() - birthDate.getFullYear();
	let m = today.getMonth() - birthDate.getMonth();
	if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
		age--;
	}
	return age;
}
---

<Layout title='Maxime C'>
	<main>
		<div class='front-page'>
			<div class='title'>
				<h1>Hey there</h1>
				<h1>
					I'm <span class='linear-gradient-text'>maxime<span class='linear-gradient-text glow'>maxime</span></span>
				</h1>

				<p>I make websites, and uh that's it :)</p>
				<ButtonComponent variant='default' link='/contact' text='Contact Me' />
			</div>
			<!-- <p>Just a {getYear('2010, 05, 28')} year old guy making websites just because I have nothing better to do.</p> -->

			<div class='line'>
				<div class='line-ctn'>
					<Fragment set:html={line} />
					<div class='line-ctn glow'><Fragment set:html={line} /></div>
				</div>
			</div>
		</div>

		<div class='about'>
			<h3>Based in the UK</h3>
			<p>
				Just a quick intro; I've been programming for {getYear('2021, 07, 13')} years in multiple languages with different frameworks (mostly AstroJS). I'm
				quite busy with school at the moment, but don't hesitate to contact me.
			</p>

			<p>
				I'm a self-taught developer, but I've been learning a lot since I started. I'm currently learning React, NextJS (soon), and TailwindCSS. Making
				production-quality websites is a priority for me, like thinking about accessibility and responsiveness as well as performance across
				devices/browsers.
			</p>
		</div>

		<div class='skills'>
			<h3>Skills</h3>
			<p>Here are some of my skills that I've worked on throughout some of my projects:</p>

			<SkillCard skill='JavaScript' iconName='js' progress='85%' />
			<SkillCard skill='Python' iconName='python' progress='75%' />
			<SkillCard skill='CSS' iconName='css' progress='75%' />
			<SkillCard skill='C#/.NET' iconName='cs' progress='35%' />
			<SkillCard skill='React' iconName='react' progress='5%' />
		</div>
	</main>
</Layout>

<script>
	import anime from 'animejs/lib/anime.es.js';

	const createBlinkingAnimation = (
		targets: HTMLElement | NodeList | string,
		options: { speed?: 'quick' | 'slow'; variant?: 'normal' | 'off'; loop?: boolean; autoplay?: boolean } = {
			speed: 'slow',
			variant: 'normal',
			loop: false,
			autoplay: false,
		},
	) => {
		switch (options.variant) {
			case 'normal':
				return anime
					.timeline(options)
					.add({
						duration: options?.speed === 'quick' ? 0 : 600,
					})
					.add({
						targets,
						opacity: [0.35, 1, 0.35, 1],
						easing: 'linear',
						duration: 260,
					})
					.add({
						duration: options?.speed === 'quick' ? 300 : 1000,
					});

			case 'off':
				return anime
					.timeline(options)
					.add({
						targets,
						opacity: [0, 1, 0, 1, 0],
						easing: 'linear',
						duration: 260,
					})
					.add({
						duration: 2300,
					})
					.add({
						targets,
						opacity: [0.6, 0.2, 1],
						duration: 800,
						easing: 'easeInOutQuad',
					});

			default:
				return anime
					.timeline(options)
					.add({
						duration: options?.speed === 'quick' ? 0 : 600,
					})
					.add({
						targets,
						opacity: [0.35, 1, 0.35, 1],
						easing: 'linear',
						duration: 260,
					})
					.add({
						duration: options?.speed === 'quick' ? 300 : 1000,
					});
		}
	};

	document.addEventListener('astro:page-load', () => {
		anime({
			targets: '.line path',
			strokeDashoffset: [anime.setDashoffset, 0],
			easing: 'easeInQuad',
			duration: 1000,
			autoplay: true,
		}).finished.then(() => {
			const blinkingLine = createBlinkingAnimation('.line > *', { autoplay: true, speed: 'slow', loop: true, variant: 'normal' });
			blinkingLine.play();
		});

		const blinkingText = createBlinkingAnimation('.title h1 span.linear-gradient-text:not(span.glow)', {
			autoplay: false,
			loop: false,
			variant: 'off',
			speed: 'quick',
		});

		document.querySelector<HTMLElement>('.title h1 span.linear-gradient-text')!.addEventListener('mouseenter', event => {
			blinkingText.restart();
		});
	});
</script>

<style lang='scss'>
	.front-page {
		height: 100dvh;
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: 15%;

		.title {
			position: relative;
			top: 5%;

			h1 {
				&:not(:has(span)) {
					position: relative;

					&::after {
						content: '👋';
						position: relative;
						animation: wave 1.5s infinite ease-in-out;
						transform-origin: bottom right;
					}

					@keyframes wave {
						0% {
							transform: rotateZ(0deg);
						}

						50% {
							transform: rotateZ(20deg);
						}

						100% {
							transform: rotateZ(0deg);
						}
					}
				}
				& .linear-gradient-text {
					cursor: default;
					position: relative;
					z-index: 100;

					span.glow {
						z-index: -1;
						position: absolute;
						left: 0;
						opacity: 0.7;
						filter: blur(10px);
					}
				}
			}

			p {
				color: var(--_text-faint);
				margin: 32px 0;
				width: 100%;
			}
		}

		.line {
			position: absolute;
			top: 50vh;
			left: 200px;
			width: 1750px;

			.line-ctn:not(.glow) {
				z-index: -1;
				position: relative;

				.line-ctn.glow {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0.5;
					filter: blur(10px);
				}
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 40vw;
		height: auto;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 25vh;

		p {
			max-width: 70%;
		}
	}
</style>
